/* Source:
 https://picturepan2.github.io/spectre/experimentals.html#progress
 https://github.com/picturepan2/spectre/blob/master/src/_progress.scss
 */
 .progress {
  background: transparent;
  border: 1px solid white;
}
.progress::-webkit-progress-bar {
  background: transparent !important;
}
.progress:indeterminate {
  animation: progress-indeterminate 1.5s linear infinite;
  background: transparent linear-gradient(to right, #4a4a4a 30%, transparent 30%) top left / 150% 150% no-repeat;
}
.progress:indeterminate::-moz-progress-bar {
  background: transparent !important;
}
.progress::-webkit-progress-value{
    background-color:rgb(235, 33, 33);
    border-right: 1px solid white;
}
.progress::-moz-progress-bar{
    background-color:rgb(235, 33, 33);
    border-right: 1px solid white;
}
.progress::-ms-fill {
    background-color: rgb(235, 33, 33);
    border-right: 1px solid white;
}
.progress:indeterminate{
  background: transparent linear-gradient(to right, rgb(235, 33, 33), 30%, transparent 30%) top left / 150% 150% no-repeat;
  border-right: 1px solid white;
}
@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
